.RecycleBin {
    padding: 30px;
    padding-top: 70px;
}

.RecycleBin_back {
    position: absolute !important;
    right: 35px;
    top: 46px;
    background: #3CE6B0 !important;
    border-radius: 10px;
    cursor: pointer;
    color: black !important;
}

.RecycleBin_back:hover {
    background: rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .RecycleBinGroupItemAction {
        flex-direction: column;
    }

    .RecycleBinGroupItemAction .MuiButtonBase-root {
        padding: 3px !important;
    }

    .RecycleBinGroupItem {
        grid-template-columns: 1fr 120px 30px !important;
        grid-gap: 10px;
    }
}