.todolist {
    position: relative;
}

.todolist__name {
    padding: 30px;
    margin: 0;
    font-size: 24px;
}

.todolist__list {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 70px; */
}

.todolist__counts {
    padding: 0 35px;
    font-size: 18px;
}

.todolist__counts__item {
    margin: 5px 0;
}

.todolist__counts__item_count {
    font-weight: 500;
    color: #3CE6B0;
}

.ToDoListItem__buttonDone .MuiSvgIcon-root {
    width: 15px;
    height: 15px;
}