body {
    padding: 0;
    margin: 0;
}

.sideMenu {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: #212121;
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.content {
    display: grid;
    grid-template-areas: "lists todo";
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

.content .MuiSvgIcon-root {
    width: 20px;
    height: 20px;
}

.wrapper__circularProgress {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    z-index: 11;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .todolist {
        margin-top: 75px;
        border-top: 1px solid grey;
    }

    .todolist__name {
        padding-top: 15px
    }

    .sideMenu {
        right: 18px;
        top: 7px;
    }

    .lists {
        height: 100%;
    }

    .lists__wrapper .MuiDrawer-paper {
        width: 280px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        color: white
    }

    .addToDoItem {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .todolist__list {
        margin-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .todolist__name {
        padding: 15px;
    }

    .todolist__counts {
        padding: 0 20px;
    }

    .todolist__list {
        padding: 30px 15px;
    }

    .ToDoListItem__details {
        padding: 10px 15px !important;
    }

    .toggleMenu {
        left: 295px;
    }

    .toggleMenu__mobile {
        left: 215px;
    }

    .addToDoItem {
        padding: 30px 15px;
    }

    .sideMenu {
        right: 3px;
    }

    .RecycleBin {
        padding: 30px 15px;
        padding-top: 70px;
    }

    .RecycleBin_back {
        right: 15px;
    }
}