.lists {
    background-color: rgb(50, 50, 50);
    padding: 30px;
    padding-top: 15px;
    transition: all 0.2s ease-out;

    z-index: 40;
}

.lists__title {
    margin: 0;
    margin-bottom: 8px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.lists__title span {
    margin-left: 11px;
}

.lists__addListButton {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
    cursor: pointer;
    font-size: 15px;
}

.lists__addListButton:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.lists__addListButton:hover .MuiSvgIcon-root {
    color: #3CE6B0;
}

.toggleMenu {
    position: absolute;
    top: 18px;
    left: 30px;
    width: 30px !important;
    z-index: 10;
    padding: 12px 0;
    cursor: pointer;
    fill: white;
    transition: all 0.2s ease-out;
}

.toggleMenu {
    display: none !important;
}

.lists__close-wrapper {
    display: none;
}




.btn-menu span {
    display: block;
    position: relative;

    height: 3px;
    margin: 5px 0 0;
    background-color: rgba(60, 230, 176, 0.9);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.hidden-menu {
    top: 5px;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 6px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.lists_main {
    padding: 15px 0;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.lists_main:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.lists_main:hover .MuiSvgIcon-root {
    fill: #3CE6B0;
}


.lists_main .MuiSvgIcon-root {
    width: 21px !important;
    height: 21px !important;
}



.lists__title .MuiSvgIcon-root {
    width: 19px !important;
    height: 19px !important;
}

.lists_main span {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .lists {
        position: absolute;
        left: -280px;
        box-sizing: border-box;
    }

    .toggleMenu {
        display: block !important;
        position: absolute;
        left: 30px;
        left: 310px;
    }

    .toggleMenu__mobile {
        left: 215px;
    }

    .lists_mobile {
        left: 0;
        width: 280px;
        max-height: 100vh;
        overflow-x: scroll;
    }

    .lists__close-wrapper_mobile {
        position: absolute;
        z-index: 10;
        display: block;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

}