.ToDoListItemSubTaskItem__button {
    width: 100%;
    display: block !important;
    max-width: 540px;
    margin: 0 auto !important;
    background-color: #3CE6B0 !important;
    color: black !important;
    margin-top: 0 !important;
}