.ToDoListItem {
    padding-left: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 0 5px 15px;
    font-size: 17px;
    order: 1;
    width: 100%;

    transition: color 1s, order 1.5s;
}

.ToDoListItem__button_marginRight {
    margin-right: 8px;
}

.ToDoListItem__Accordion {
    background-color: rgba(75, 75, 75, 0.5) !important;
    border-radius: 3px !important;
    color: white !important;
    margin: 0 !important;
    order: 1;
    margin-bottom: 10px !important;
}

.ToDoListItem__Accordion .MuiAccordionSummary-expandIcon svg {
    fill: white;
}

.ToDoListItem__Accordion .MuiAccordionSummary-content.Mui-expanded {
    margin: 0 !important;
}

.ToDoListItem__Accordion_grid {
    display: grid !important;
    grid-template-columns: 1fr 48px;
    min-height: auto !important;
}

.ToDoListItem__Accordion_grid .MuiIconButton-edgeEnd {
    margin-right: 0 !important;
}


.ToDoListItem__Accordion .MuiAccordionSummary-content {
    padding: 0;
    margin: 0;
}


.ToDoListItem__Accordion .MuiAccordionSummary-root {
    padding: 0;
}

.ToDoListItem__details {
    border-top: 1px solid grey;
    flex-direction: column;
    padding: 10px 48px !important;
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.done {
    color: grey;
}

.ToDoListItem .ToDoListItem__buttonDone {
    border: 1px solid white;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 4px;
}

.ToDoListItem__button {
    border-radius: 5px !important;
}

.ToDoListItem .ToDoListItem__buttonDone .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0);
}

.done .ToDoListItem__buttonDone .MuiSvgIcon-root {
    color: black;
}

.done .ToDoListItem__buttonDone {
    background-color: #3CE6B0;
    border: 2px solid #3CE6B0;
}

.ToDoListItem:hover {
    background-color: rgba(65, 65, 65, 0.4);
}

.ToDoListItem__buttonDone:hover .MuiSvgIcon-root {
    transition: color 0.4s;
    color: white;
}

.done:hover .ToDoListItem__buttonDone .MuiSvgIcon-root {
    transition: color 0.4s;
    color: black;
}

.important .MuiSvgIcon-root {
    transition: color 1s;
    color: gold;
}

.important_wrapper {
    order: 0;
    transition: order 1.5s !important;
}

.done {
    order: 2;
    transition: order 1.5s !important;
}

.ToDoListItem__leftBlock {
    display: flex;
    align-items: center;
}