.ToDoListItem {
    background-color: rgba(75, 75, 75, 0.5);
    padding-left: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 6px 5px 15px;
    font-size: 17px;
    order: 1;

    transition: color 1s, order 1.5s;
}

.ToDoListItem__button_marginRight {
    margin-right: 8px;
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.done {
    background-color: rgba(50, 50, 50, 0.4);
    color: grey;
}

.ToDoListItem .ToDoListItem__buttonDone {
    border: 1px solid white;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 4px;
}

.ToDoListItem__button {
    border-radius: 5px !important;
}

.ToDoListItem .ToDoListItem__buttonDone .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0);
}

.done .ToDoListItem__buttonDone .MuiSvgIcon-root {
    color: black;
}

.done .ToDoListItem__buttonDone {
    background-color: #3CE6B0;
    border: 2px solid #3CE6B0;
}

.ToDoListItem:hover {
    background-color: rgba(65, 65, 65, 0.4);
}

/* .ToDoListItem:hover .ToDoListItem__buttonDone {
    background-color: #3f51b5;
    border: 2px solid #3f51b5;
} */

.ToDoListItem:hover .ToDoListItem__buttonDone .MuiSvgIcon-root {
    transition: color 0.4s;
    color: white;
}

.done:hover .ToDoListItem__buttonDone .MuiSvgIcon-root {
    transition: color 0.4s;
    color: black;
}

.important .MuiSvgIcon-root {
    transition: color 1s;
    color: gold;
}

.important_wrapper {
    order: 0;
    transition: order 1.5s;
}

.done {
    order: 2;
    transition: order 1.5s;
}

.ToDoListItem__leftBlock {
    display: flex;
    align-items: center;
}