.addToDoItem {
    /* position: absolute;
    bottom: 0; */
    padding: 30px;

    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 115px;
    box-sizing: border-box;
    grid-gap: 20px;
    align-items: self-end;
}

.addToDoItem__input {}

label.Mui-focused {
    color: white !important;
}

.MuiInput-underline:after,
.MuiInput-underline:before {
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}

.MuiInputBase-input {
    color: white !important;
}

.MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.5) !important;
}

.addToDoItem__button {
    background-color: #3CE6B0 !important;
    color: black !important;
    height: 40px;
}